@import url("https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css");

$primary-color: #2196f3;
$secondary-color: #757575;
$light-color: #f5f5f5;
$header-height: 6rem;

.chat__page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: $header-height 20px 20px;
  background-color: $light-color;

  .chat__box {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;

    .messages {
      display: flex;
      flex-direction: column;

      .message {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;

        &.sent {
          align-self: flex-end;
          background-color: $primary-color;
          color: #fff;
        }

        &.received {
          align-self: flex-start;
          background-color: $secondary-color;
          color: #fff;
        }

        .username {
          font-weight: bold;
        }

        .text {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        .date {
          font-size: 0.8em;
          margin-top: 5px;
          margin-bottom: 0;
          align-self: flex-end;
        }
      }
    }
  }

  .inputs {
    display: flex;

    .i-username,
    .i-message {
      padding: 10px;
      border: none;
      border-radius: 5px;
      margin-right: 10px;
      font-size: 1em;
      outline: none;
    }

    .i-username {
      flex: 1;
      background-color: #fff;
      border: 1px solid $secondary-color;
      color: $secondary-color;
    }

    .i-message {
      flex: 3;
      background-color: #fff;
      border: 1px solid $secondary-color;
      color: $secondary-color;
    }

    .btn-send {
      background-color: $primary-color;
      border: none;
      border-radius: 5px;
      color: #fff;
      padding: 10px;
      font-size: 1em;
      outline: none;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

// media queries

@media screen and (max-width: 768px) {
  .chat__page {
    padding: $header-height 10px 10px;

    .chat__box {
      padding: 5px;
    }

    .inputs {
      flex-direction: column;

      .i-username,
      .i-message {
        margin-right: 0;
        margin-bottom: 10px;
      }

      .i-username {
        flex: 0;
      }

      .i-message {
        flex: 1;
      }

      .btn-send {
        width: 100%;
      }
    }
  }
}

